{
  "extends": ["eslint:recommended", "airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}